// =========================
// DMS Layout Configuration
// =========================

layout {
    gaps 5
    center-focused-column "never"

    border {
        width 2
    }

    focus-ring {
        width 2
    }

    tab-indicator {
        width 8
        gap 8
        length total-proportion=1.0
        hide-when-single-tab
        position "top"
        place-within-column
    }

    shadow {}

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

prefer-no-csd

animations {
    window-movement {
        duration-ms 250
    }
    workspace-switch {
        duration-ms 250
    }
    horizontal-view-movement {
        duration-ms 250
    }
}
