window-rule {
    match app-id=r#"^Slack$"#
    match app-id=r#"^signal$"#
    open-focused true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id="org.pipewire.Helvum"

    open-focused true
    open-floating true
    default-floating-position x=0 y=25 relative-to="top"
    default-window-height { proportion 0.8; }
    default-column-width { proportion 0.75; }
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="Rofi"
    match app-id="nm-connection-editor"
    match app-id=".blueman-manager-wrapped"
    match app-id=r#"^org.gnome.Calendar$"#
    match app-id=r#"^gcr-prompter$"#
    match app-id=r#"^xdg-desktop-portal-gnome$"#
    match app-id=r#"^nm-applet$"#
    match app-id=r#"^chrome-.*"#
    match app-id="waypaper"
    match title="$Huddle:.*" app-id="Slack"

    open-focused true
    open-floating true
    default-floating-position x=0 y=25 relative-to="top"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.25; }
}
window-rule {
	match app-id="remote-viewer"
	open-fullscreen true
	open-maximized true
	open-focused true
}
window-rule {
    match is-active=false
    opacity 0.85
}
window-rule {
    match is-urgent=true
    open-focused true
}
window-rule {
    match app-id="satty"
    open-focused true
    open-floating true
    min-width 800
    min-height 400
    default-floating-position x=-200 y=200 relative-to="top"

    default-window-height { proportion 0.75; }
    default-column-width { proportion 0.75; }
}
window-rule {
    match app-id="code"
    match app-id="org.shotcut.Shotcut"
    exclude app-id=r#"^code$"# title=r#"^Visual Studio Code$"#

    open-fullscreen false
    open-floating false
    open-maximized true
    open-focused true
    opacity 0.95
}
window-rule {
		match app-id=r"Bitwarden"
		match app-id="Sparrow"
	  match title="Bitwarden"
	 	block-out-from "screen-capture"
		// opacity 1
	  shadow {
        on
    }
    focus-ring {
       width 4
       active-color "#f00f"
       inactive-color "#f00f"
	  }
}
window-rule {
		match app-id="Bitwarden" is-focused=false
		match app-id="Sparrow" is-focused=false
	  match title="Bitwarden" is-focused=false
    opacity 0.45
}


window-rule {
    match app-id=r#"^com.slack.Slack$"#
    clip-to-geometry true
    border {
		   on
       width 1
       active-color "#0f0f"
       inactive-color "#0f0a"
	  }
}
