* {
    font-family: "Fira Code";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
    transition-property: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}


#taskbar {
    background-color: rgba(30, 30, 46, 0.6);
    border-radius: 20px;
    padding: 5px;
}

#taskbar button {
    color: #f0f0ff;
    border-radius: 5px;
}

#taskbar button:hover {
    background-color: rgba(49, 50, 68, 0.6);
}

#taskbar button.active {
    background-color: rgba(88, 91, 112, 0.6);
}

#taskbar button.active:hover {
    background-color: rgba(108, 112, 134, 0.6);
}