* {
    font-family: "Fira Code";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.5);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
    transition-property: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad,
#custom-logout,
#mpd {
    padding: 0px 10px;
    margin-right: 1px;
    color: #f0f0ff;
    border-radius: 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    font-weight: bold;
}

#battery {
    margin-left: 4px;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.9);
}

@keyframes blink {
    to {
        background-color: rgba(255, 255, 255, 0.9);
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(245, 60, 60, 0.9);
    color: #fff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

#network.disconnected {
    background-color: rgba(245, 60, 60, 0.9);
}


#taskbar {
    margin-left: 4px;
}

#taskbar button {
    color: #f0f0ff;
    background-color: rgba(30, 30, 46, 0.6);
}

#taskbar button:first-child {
    border-radius: 99px 0 0 99px;
}

#taskbar button:last-child {
    border-radius: 0 99px 99px 0;
}

#taskbar button:first-child:last-child {
    border-radius: 99px;
}

#taskbar button:hover {
    background-color: rgba(49, 50, 68, 0.6);
}

#taskbar button.active {
    background-color: rgba(88, 91, 112, 0.6);
}

#taskbar button.active:hover {
    background-color: rgba(108, 112, 134, 0.6);
}


#pulseaudio.muted {
    background-color: rgba(46, 32, 30, 0.9);
}

slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}

highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}

#wireplumber {
    background-color: rgba(255, 240, 245, 0.8);
    color: #000000;
}

#wireplumber.muted {
    background-color: rgba(245, 60, 60, 0.9);
}


#temperature.critical {
    background-color: rgba(235, 77, 75, 0.8);
}

#tray {
    background-color: rgba(41, 128, 185, 0.8);
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #00b093;
    color: #740864;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: rgba(151, 225, 173, 0.8);
    color: #000000;
}

#keyboard-state>label {
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}