// =========================
// DMS Configuration
// =========================
include "dms/general.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/colors.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/windowrules.kdl"
