        	layout {
        gaps 1

        border {
        width 2
        }

        focus-ring {
        width 4
        }
        }
        window-rule {
        geometry-corner-radius 4
        clip-to-geometry true
        tiled-state true
        draw-border-with-background false
        }
