binds {

		Mod+Shift+A { spawn "noctalia"; }
		ALT+Tab { spawn "noctalia" "msg" "window-switcher" "toggle"; }
		Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
		Mod+S { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+comma { spawn "noctalia" "msg" "settings-toggle"; }
    Mod+Alt+L hotkey-overlay-title="Notifications: Clear" { spawn "noctalia" "msg" "notification-clear-active"; }

    Mod+P { spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty -f -"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
}
