binds {

		Mod+Shift+A { spawn "noctalia"; }
		ALT+Tab { spawn "noctalia" "msg" "window-switcher" "toggle"; }
		Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
		Mod+S { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+comma { spawn "noctalia" "msg" "settings-toggle"; }

    Mod+P { spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty -f -"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    // XF86AudioMicMute allow-when-locked=true { spawn "noctalia" "msg" "call" "audio" "micmute"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
}
